.rotatewords {
  position: relative;
  display: inline-block;
}
.rotatewords span {
  display: none;
  position: absolute;
  left: 0;
}
.rotatewords span.active,
.rotatewords span.prev,
.rotatewords span.next {
  text-align: center;
  display: block;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.rotatewords span.active {
  opacity: 1;
}
